<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
   <style>
    body {background-color: black;}
    h1   {color: blue;}
    p    {color: red;}
    h3   {color: yellowgreen}
    a    {color: limegreen}
    div  {color: orange}
   </style> 
  </head>
  <body>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>

      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2>Latest Mars News</h2>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <p>{{ mars.news_p }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8">
          <h2>Featured Mars Image</h2>

          <!-- if images is False/None/non-existent, then default to error message -->
          <img
            src="{{mars.featured_image_url}}"
            class="img-thumbnail"
            alt="Responsive image"
          />
        </div>

        <div class="col-md-4">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <h4>Mars Facts</h4>
            {{ mars.df}}
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <h3> {{mars.hemisphere_image_urls[0]['title']}} </h3>
                <img src= {mars.hemisphere_image_urls[0]} style="max-width:100%;
                 height:auto;" />
              </div>
              <div class="col-md-12">
                <h3> {{mars.hemisphere_image_urls[1]['title']}} </h3>
                <img src= {mars.hemisphere_image_urls[1]} style="max-width:100%;
                 height:auto;" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h3> {{mars.hemisphere_image_urls[2]['title']}} </h3>
            <img src= {mars.hemisphere_image_urls[2]} style="max-width:100%;
              height:auto;" />
          </div>
          <div class="col-md-12">
            <h3> {{mars.hemisphere_image_urls[3]['title']}} </h3>
            <img src= {mars.hemisphere_image_urls[3]} style="max-width:100%;
              height:auto;" />
        </div>
      </div>
    </div>
  </body>
</html>